.Test  {
    margin: 3px;
    max-width: 200px;
    min-width: 140px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    box-sizing: border-box;
    cursor: pointer;
    background-color: white;
    flex-grow: 1
}





