
.NodeDetailRow {
    display: flex;
    flex-direction: row;
}
.NodeDetailRow .nodeDetailOverview, .nodeDetailVerification, .nodeDetailConfiguratorLog,.nodeDetailFiles  {
    align-items: center;
    margin: 3px;
    padding: 5px;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    box-sizing: border-box;
    cursor: pointer;
    background-color: white;
}

.NodeDetailRow #verificationFileName {

    margin-right: 10px;

}

.NodeDetailRow .nodeDetailOverview {

    min-width: 160px;
}

.NodeDetailRow .nodeDetailFiles {

   display: flex;
    flex-direction: column;
    justify-content: center;
}



.NodeDetailRow .nodeDetailConfiguratorLog {


}

.NodeDetailRow .verdict {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15px;
    font-weight: 500;

}

.NodeDetailRow .nodeDetailFiles #xml, #logfile {
    width: 64px;
    margin: 5px;
}

.NodeDetailRow #verificationTitle, #configuratorLogTitle  {
    font-size: 15px;
    font-weight: 500;
}

.NodeDetailRow .verificationFile, .verificationBefore, .verificationAfter  {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 500;
}

.NodeDetailRow #verificationTimestampBeforeValue, #verificationTimestampAfterValue, #verificationFileValue  {
    float: right;
    font-size: 15px;
    font-weight: 400;

}


