
.credentials {
    margin: 5px 5px 40px 5px;
}

.credentialContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.username {
    width: 10%;

}

.usernameLabel {

}

.usernameInput {


}

.password {
    width: 10%;

}

.passwordLabel {


}

.passwordInput {


}

.radios {

    width: 20%;

}

.servers {
    width: 30%

}

.okButton {
    width: auto;
    margin-top: 23px;
}

legend {
    font-size: 20px;
    width: auto;
}

fieldset {
    border: 1px solid gray;
    padding: 1em;
    font-family: Arial;
}

/*return (*/
/*<div className="Credentials">*/
/*<div className="Username">*/
/*<div className="UsernameLabel" />*/
/*<input className="UsernameInput" type="text" onChange={this.props.usernameChanged}/>*/
/*</div>*/
/*<div className="Password">*/
/*<div className="PasswordLabel" />*/
/*<input className="PasswordInput" type="text" onChange={this.props.passwordChanged}/>*/
/*</div>*/
/*</div>*/


