
.credentials {
    margin: 5px;
}

.credentialContainer {
    float: left;
    display: flex;
    flex-direction: row;
}
.username {
    margin-right: 10px;
    min-width: 100px;

}

.usernameLabel {
    min-width: 200px;

}

.usernameInput {
    min-width: 200px;

}

.password {
    min-width: 200px;

}

.passwordLabel {
    min-width: 200px;

}

.passwordInput {
    min-width: 200px;

}

legend {
    font-size: 20px;
    width:auto;
}

fieldset {
    width: fit-content;
    border: 1px solid gray;
    padding: 1em;
    font-family: Arial;
}


/*return (*/
/*<div className="Credentials">*/
/*<div className="Username">*/
/*<div className="UsernameLabel" />*/
/*<input className="UsernameInput" type="text" onChange={this.props.usernameChanged}/>*/
/*</div>*/
/*<div className="Password">*/
/*<div className="PasswordLabel" />*/
/*<input className="PasswordInput" type="text" onChange={this.props.passwordChanged}/>*/
/*</div>*/
/*</div>*/


