.Cluster  {
    width: 30px;
    margin: 5px;
    writing-mode: vertical-rl;
    justify-content:center;
    align-items:center;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    box-sizing: border-box;
    background-color: white;


}





