.OrchestrationType  {
    display: flex;
    margin: 5px;
    padding: 5px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    box-sizing: border-box;
    cursor: pointer;
    background-color: white;
}

